body{
  background-color: #F5FCEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
h1{
  color: #66DD27;
  font-size: 45px;
}

.wordSubmitted{
  font-size: 25px;
  color: #E55A63;
  text-decoration: underline;
}

input{
  padding: 5px;
  width: 350px;
  margin-right: 10px;
}
button{
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E55A63;
  color: white;
  text-transform: uppercase;
}
button:hover{
  background-color: #D880EB;
}

b{
  background-color: #D8F7C8;
  padding: 5px;
}

.nutrition {
  background-color: #d780ebab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 5px;
}
